body,
p,
h1 {
  padding: 0;
  margin: 0;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  padding: 20px;
  margin-top: 40px;
}
.main-row {
  width: 79%;
}
.star-block {
  position: relative;
  left: 200px;
}
.rated-star {
  border-radius: 6px;
  display: flex;
  padding: 15px;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 15px;
}
.rated-star p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.stars {
  letter-spacing: 7px;
  margin-right: 15px;
}
.header h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  line-height: 1;
}

.header p {
  font-size: 12px;
  color: hsl(303, 10%, 53%);
  margin-top: 5px;
  line-height: 23px;
}

#onetab {
  position: relative;
  left: 20px;
}

#twotab {
  position: relative;
  left: 40px;
}

.images {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.cards {
  margin-top: 30px;
}
.card-body {
  background-color: hsl(300, 43%, 22%);
  border-radius: 6px;
  padding-right: 0;
}
.title {
  display: flex;
  padding-top: 10px;
}
.title-header {
  padding-left: 20px;
  line-height: 18px;
}
.title-header h1 {
  font-size: 11px;
  color: white;
  font-weight: 500;
}
.title-header p {
  font-size: 10px;
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}
.card-text {
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 20px 20px 5px 0;
}

#irene {
  position: relative;
  top: 20px;
}

#anne {
  position: relative;
  top: 40px;
}
@media (max-width: 767px) {
  body {
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-row {
    width: auto;
  }
  .header p {
    margin: 20px 0;
  }
  .star-block {
    padding: 0;
    margin: 0;
    left: 0;
  }
  .rated-star {
    display: block;
  }
  #onetab {
    left: 0;
  }
  #twotab {
    left: 0;
  }
  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }

  @media only screen and (min-width: 980px) {
    .container {
      width: 980px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }
}
